<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle%>></title>
    <link rel="stylesheet" href="/css/boutique.css">
</head>
<body>
<header>
    <h1>e-commerce</h1>
    <nav>
        <ul>
            <li><a href="/">Boutique</a></li>
            <li><a href="/admin/ajout">Ajout</a></li>
        </ul>
    </nav>
</header>
<h1>Erreur 404</h1>
<p>La ressource demandée n'existe pas</p>
<a href="/">retourner à la boutique</a>
</body>
</html>
Les modifications su